.header-1 {
  font-size: 64px;
  line-height: 72px;

  letter-spacing: -0.08em;
}

.header-2 {
  font-size: 32px;
  line-height: 40px;

  letter-spacing: -0.06em;
}

.text-1 {
  font-size: 16px;
  line-height: 24px;

  letter-spacing: -0.03em;
  word-break: break-word;
}

.text-2 {
  font-size: 14px;
  line-height: 16px;

  letter-spacing: -0.02em;
  word-break: break-word;
}

.prompt-text {
  letter-spacing: -0.01em;

  font-size: 12px;
  line-height: 16px;
}
