.header-1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 72px;

  letter-spacing: -0.08em;
}

.header-2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;

  letter-spacing: -0.06em;
}

.text {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.8px;
  word-break: break-word;
}

.text-small {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.48px;
}
